@model bulabi.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Bulabi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="container">
    <div class="row">
    <!--loop:sites-->
    @for (int i = 0; i < Model.Link.Count(); i++)
    {
		<!--Bar 2-->
        @*<div class="mosaic-block bar2">
                <a href="@Model.Link[i]"  class="fancybox fancybox.iframe mosaic-overlay"
                title="@Model.Title[i] <br> View: @Model.View[i]">
                    <div class="details">
                        <h4>@Model.Title[i]</h4>
                        <p> # of view: @Model.View[i]</p>
                    </div>
                </a>
                <div class="mosaic-backdrop"><img src="@Model.Image[i]"/></div>
            </div>*@




        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Model.Image[i]" alt="Generic placeholder thumbnail">
                <div class="fancybox fancybox.iframe caption">
                    <a href="@Model.Link[i]">
                        <h3>@Model.Title[i]</h3>
                        <h5>@Model.Title[i]</h5>
                    </a>
                </div>
            </div>
        </div>



    }

</div>





</div>